
<div>
    <strong>Pagina principal</strong>
    <div>
        <p>Essa é a página home do seu site :D</p>
    </div>
    <div>
        <ul>
            {{#each TaskCompleted}}
                <li>ID:{{this.id}} {{this.name}}</li>
            {{/each}}
        </ul>
    </div>
</div>